# ==== Ignorar node_modules en ambas carpetas ====
api-express/node_modules/
front-react/node_modules/

# ==== Ignorar .env de backend ====
api-express/.env

# ==== Ignorar dist de frontend ====
front-react/dist/
front-react/dist-ssr/

# ==== Logs generales ====
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==== Archivos locales o del sistema ====
*.local
.DS_Store

# ==== Configuración de editores ====
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==== Ignorar extensiones específicas ====
!.vscode/extensions.json