body,
html {
    margin: 0;
    padding: 0;
}
.card-background {
    background-image: url('/img/ingreso.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    color: white;
}
.ingreso-background {
    background: url('/img/poke6.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    background-color: #8b5e3c;
}
.btn-bg-m {
    background-image: url('/img/button.jpg');
    background-size: cover;
    background-position: center;
    color: white !important;
    border: none;
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-bg-s {
    background-image: url('/img/sbutton.jpg');
    background-size: cover;
    background-position: center;
    color: white !important;
    border: none;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
